<h1>Listing Babies</h1>
 
<h7 align="center"><b><%= link_to "Go Home", root_path %></b></h7>

<table>
  <tr>
    <th>First Name / Last Name</th>
  </tr>
 
  <% @babies.each do |baby| %>
    <tr>
      <td><%= link_to "#{baby.first_name} #{baby.last_name}", baby_path(baby.id, metric: baby.metric) %></td>
      <td><%= link_to "Edit", edit_baby_path(baby.id) %></td>
    </tr>
  <% end %>
</table>